.commandBox {
	background: #000;
	border: 1px solid #39FF14;
	overflow: auto;
	padding: 10px;
	color: #FFF;
}

pre {
	margin: 0px;
	padding: 0px;
}

#content {
	margin: 0 auto;
	width: 750px;
}

/* Change CSS for situations where the screen is narrow */
@media only screen and (min-width: 320px) and (max-width: 800px) {
	#content {
		margin-left: 2%;
		margin-right: 2%;
		width: auto;
	}
}
