body {
	background: #999999;
}

.commandBox {
	background: #000000;
	border: 1px solid #39FF14;
	overflow: auto;
	padding: 10px;
	color: #FFFFFF;
}

.transparentLink {
	text-decoration: none;
	color: #000000;
}

.skippolaBanner {
	text-align: center;
}
