body {
	background: #999999;
}

.commandBox {
	background: #000000;
	border: 1px solid #39FF14;
	overflow: auto;
	padding: 10px;
	color: #FFFFFF;
}

.transparentLink {
	text-decoration: none;
	color: #000000;
}

.skippolaBanner {
	padding: 0px;
	margin: 0px;
	margin-left: 30%;
	margin-right: 30%;
	text-align: center;
	font-size: .75vw;
}

pre {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
	display: inline;
}

li a {
	border: 1px solid #000;
	display: block;
	padding: 8px;
}

.blueBackground {
	background: #0000FF;
}

.redBackground {
	background: #FF0000;
}

.greenBackground {
	background: #0F0;
}
